/*Global necessities (need to rename this so it makes more sense)*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  font-size: 30px;

  overflow-x: hidden;
}

.btn {
  position: relative;
  align-items: center;
  background-color: rgb(218, 114, 114);
  border: 2px solid rgb(218, 114, 114);
  box-shadow: 2px 2px 4px 0 black;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn__down {
  position: relative;
  transform: rotate(-90deg);
  max-width: 30px;
  max-height: 300px;
  margin-left: 50%;
  z-index: 1;
  top: -42px;
  font-size: 30px;
}

.arrow {
  position: relative;
  top: -2px;
}

.section__1,
.section__2,
.section__3 {
  border-bottom: 3px solid rgb(155, 155, 155, 0.5);
}

/*Header content*/

.baby-toy {
  position: absolute;
  max-width: 25%;
  height: auto;
  left: 64%;
}

.menubar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  height: 8rem;
  background-image: linear-gradient(to bottom, #50b2f1, #f3f3f3);
  border: none;
}

.empty-space {
  flex: 1;
}

.menubar ul,
h5 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  text-transform: uppercase;
  font-size: 22px;
  list-style: none;
  margin: 2rem;
}

.menubar a {
  display: inline-block;
  text-decoration: none;
  margin: 1rem;

  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.menubar a:hover {
  color: #faf782;
  transition: 0.5s;
  opacity: 0.9;
}

#contact--form:hover {
  background-color: #faf782;
  border: 2px solid #faf782;
  transition: 0.5s;
}

/*Middle content*/
/*Section 1*/
.logo {
  float: left;
  max-width: 15%;
  height: auto;
}

.container--motto {
  position: relative;
  text-transform: capitalize;
  font-size: 2vw;
  padding-bottom: 5%;
}

.slogan {
  position: relative;
  left: 5%;
}

.btn__learn {
  position: relative;
  margin-left: 8.1rem;
  text-decoration: none;
  color: rgb(218, 114, 114);
  font-weight: 500;
}

.heart--animation {
  text-decoration: none;
  color: black;
  padding: 2px;
  border-radius: 10px;
  background-color: rgb(218, 114, 114);
}

/*Section 2"*/
.section__2--buttons li {
  list-style-type: none;
}

.presentation__tab--active {
  transform: translateX(15%);
}

.presentation__content {
  display: none;
}

.presentation__content--active {
  display: inline-flex;
  border: 1px solid rosybrown;
  border-radius: 10px;
  margin-left: 280px;
  transform: translateY(-110px);
  background-color: rosybrown;
}

/*Section 3*/
.section__3 {
  display: flex;
  align-items: stretch;
}

/*Section 4*/
.section__4 {
  display: flex;
  align-items: stretch;
  background-image: linear-gradient(#f3f3f3 2%, #50b2f1);
}
.section__4--call-to-action {
  position: relative;
  transform: rotate(-4deg);
  top: -2rem;
  left: 17rem;
  font-size: 3vw;
  font-weight: 900;
}

/*Footer content*/
.footer {
  display: flex;
  align-items: center;
  height: 10rem;
  background-image: linear-gradient(to top, #faf782, #50b2f1);
  border: none;
}

.copyright {
  position: relative;
  margin: auto;
  top: 3rem;
  font-weight: 500;
  font-size: 12px;
}

/*Media queries*/
